.container-card {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 60%;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    width: 100%;
    flex: 0 0 25%;
    max-width: 25%;
}

.imge {
    height: 180px;
    width: 286px;
}

.less {
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}

.more {
    display: inline-block;

    margin-top: 15px;
}

.buy {
    margin-top: 15px;
}

.quantity {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin: 13px 5px 0px 5px;
}

@media screen and (max-width: 1185px) {
    .container-card{
        margin-right: 15px;
        margin-top: 30px;
    }        

}