.container{
    margin-top: 10px;
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    height: fit-content;
    z-index: 10;
}

.Link {
    text-decoration: none;
}

.page-name {
    font-size: 2rem;
    display: inline-block;
    color: #2D3436;
    position: -ms-page;
    margin-left: 200px;
}

.container-buttons {
    margin-right: 100px;
}

.sign-in {
	background-color:#2D3436;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	padding:8px 15px;
	text-decoration:none;
    margin: 0px auto;
    margin-right: 20px;
    text-align: center;
}

.log-in {
	border-radius:28px;
	cursor:pointer;
	color:#6C5CE7;
	font-size:1rem;
	padding:8px 15px;
	text-decoration:none;
    margin: 0px auto;
    margin-right: 20px;
    text-align: center;
}

.log-in:hover {
    text-decoration: underline;
}

.sign-in:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1185px) {
    .container{
        display: block;
    }        

    .page-name {
        display: table;
        margin: 0 auto;
    }
    
    .container-buttons{
        margin: 15px auto;
        display: table;
    }
    
    
    

}

